@using PresentationLayer.Models;
@using DataLayer.Entity;
@using System.Globalization;
@model EventOfCalendarModel
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    int startDayActualMounth = (int)new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).DayOfWeek;
    int lastDayActualMount = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
    int lastDayOfPastMounth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month - 1);
    int startDayViewOnCalendar = lastDayOfPastMounth - startDayActualMounth + 2;
    int startDaySecondDay = (int)new DateTime(DateTime.Now.Year, DateTime.Now.Month+1, 1).DayOfWeek - 1;
}
<div class="event-container">
    <div class="calendar-container">
        <div class="calendar-header">
            <h1>@DateTime.Now.ToString("MMMM", CultureInfo.GetCultureInfo("ru-RU"))<button>▾</button></h1>
            <p>@DateTime.Now.Year</p>
        </div>
        <div class="calendar">
            <span class="day-name">Пн</span><span class="day-name">Вт</span><span class="day-name">Ср</span><span class="day-name">Чт</span><span class="day-name">Пт</span><span class="day-name">Сб</span><span class="day-name">Вс</span>
            @for(int i = startDayViewOnCalendar; i <= lastDayOfPastMounth; i++)
            {
                <div class="day day--disabled" onclick="reply_click(this.id)">@i</div>
                
            }
            
            @for (int i = 1; i <= lastDayActualMount; i++)
            {
                if (Model.Events.Any(x=>x.DateTimeEvent.Day == i))
                {
                    <div class="day" id="day_@i">
                        <div class="title-day">@i</div>
                        <section class="task task--info">@Model.Events.FirstOrDefault(x=>x.DateTimeEvent.Day == i).Title</section>
                    </div>
                }
                else
                {
                    <div class="day" id="day_@i">@i</div>
                }
                <script>
                    var html = 
                    $('#day_@i')
                </script>
            }
            @for (int i = 1; i <= 7 - startDaySecondDay; i++)
            {
                <div class="day day--disabled">@i</div>
            }

        </div>
    </div>
</div>